body{
    --overallSize: 88vh;
    --paddingBig: 2vh;
    --paddingSmall: 0.25vh;
    --overallWithoutPadding: calc(var(--overallSize) - calc(var(--paddingBig)*2));
    --mediumSize: calc(var(--overallWithoutPadding) / 3);
    --mediumSizeWithoutPadding: calc(var(--mediumSize) - calc(var(--paddingSmall)*2));
    --smallSize: calc(var(--mediumSizeWithoutPadding) / 3);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #dfdfdf;
    aspect-ratio: 1/1;
}

.root-grid-container{
    grid-template-columns: var(--mediumSize) var(--paddingBig) var(--mediumSize) var(--paddingBig) var(--mediumSize);
    grid-template-rows: var(--mediumSize) var(--paddingBig) var(--mediumSize) var(--paddingBig) var(--mediumSize);
    height: var(--overallSize);
    background-color: var(--background-color);
}

.child-grid-container{
    grid-template-columns: var(--smallSize) var(--paddingSmall) var(--smallSize) var(--paddingSmall) var(--smallSize);
    grid-template-rows: var(--smallSize) var(--paddingSmall) var(--smallSize) var(--paddingSmall) var(--smallSize);
    background-color: var(--background-color);
}

.center{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.finalText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #dfdfdf;
    text-align: center;
    padding: 1px;
    height: var(--mediumSize);
    width: var(--mediumSize);
}

.smallText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #dfdfdf;
    text-align: center;
    padding: 1px;
    height: var(--smallSize);
    width: var(--smallSize);
}

.text0{
    font-size: 20vh;
    color: red;
    pointer-events: none;
}

.textX{
    font-size: 35vh;
    color: blue;
    pointer-events: none;
}

.textDraw{
    font-size: 5vh;
    color: green;
}

.grid-item {
    background-color: #dfdfdf;
    font-size: 7vh;
    text-align: center;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    width: var(--smallSize);
    height: var(--smallSize);
}

.grid-item > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.smallX{
    font-size: 13vh;
    color: blue;
    pointer-events: none;
}

.small0{
    font-size: 7vh;
    color: red;
    pointer-events: none;
}

.currentSector{
    background-color: rgb(229, 210, 41);
}

.grid-item:hover {
    background-color: rgb(201, 176, 232);
}